In [3]:
j= "hello world"
j

'hello world'

In [4]:
j = input ("what is your name")
j

'Naveen'

In [5]:
j = 3
print(j)

3

In [6]:
my_boolean = True
my_boolean

True

In [7]:
type (10)

int

In [8]:
type ("names")

str

In [9]:
type (10.4)

float

In [10]:
j = "NaveenNavenNaveen"
j. upper()

'NAVEENNAVENNAVEEN'

In [ ]:
j = "NaveenNavenNaveen"
j. upper()

In [14]:
j = "NaveenNavenNaveen"
j. lower()

'naveennavennaveen'

In [12]:
j = "NaveenNavenNaveen"
j = j.upper()
j

'NAVEENNAVENNAVEEN'

In [13]:
j = "NaveenNavenNaveen"
j = j.lower()
j

'naveennavennaveen'

In [15]:
j = ["japan",1,"true",1.4,["a nested list",5]]
j

['japan', 1, 'true', 1.4, ['a nested list', 5]]

In [18]:
j = ["jayden",1,"true",1.4,["a nested list",5]]
j [2]

'true'

In [19]:
j = ["jayden",1,"true",1.4,["a nested list",5]]
j [-1] [0]

'a nested list'

In [22]:
new_list = [ True]
print(new_list)
new_list. append ("this is string")
print(new_list)
new_list . insert(0,19)
print(new_list)
new_list. pop()
print(new_list)
new_list. pop(0)
print (new_list)

[True]
[True, 'this is string']
[19, True, 'this is string']
[19, True]
[True]

In [26]:
numbered_list = [8, 4, 5, 3, 0]
numbered_list.sort()
numbered_list

[0, 3, 4, 5, 8]

In [27]:
numbered_list = [8, 4, 5, 3, 0]
numbered_list.sort (reverse=True)
numbered_list

[8, 5, 4, 3, 0]

In [28]:
numbered_list = [8, 4, 5, 3, 0]
print (sorted(numbered_list))
print(numbered_list)

[0, 3, 4, 5, 8]
[8, 4, 5, 3, 0]

In [29]:
list_of_strings = ["Naveen","Joswa","Bruno","Laura","jayden"]
print(sorted(list_of_strings))

['Bruno', 'Joswa', 'Laura', 'Naveen', 'jayden']

In [66]:
HOURLEY_SALARY = 50
from typing import Final
NEW_HOURLEY_SALARY:Final[int] = 0
NEW_HOURLEY_SALARY
print(NEW_HOURLEY_SALARY)
if(NEW_HOURLEY_SALARY !=60):
    print("You Changed constant, dont do that")

0
You Changed constant, dont do that

In [74]:
my_set={"apples","mangoes","cherries"}
another_set = {"apples","oranges","lemon"}
union = my_set. union(another_set)
print(union)
intersection=my_set.intersection(another_set)
print(intersection)
only_mine = my_set.difference(another_set)
print (only_mine)
only_another_set=another_set.difference(my_set)
sorted(list(union))

{'cherries', 'oranges', 'apples', 'mangoes', 'lemon'}
{'apples'}
{'mangoes', 'cherries'}

['apples', 'cherries', 'lemon', 'mangoes', 'oranges']

In [83]:
favourite_animal=input("Choose your fav")
favourite_animal=favourite_animal.lower()
if favourite_animal =="dog":
    print("you are a dog person")
elif favourite_animal =="cat":
    print("you are a cat person")
elif favourite_animal=="bird":
    print("you are a bird person")
else:
    print("Not recognise your fav")

Not recognise your fav

In [105]:
  favourite_animal = ""
  while favourite_animal != "cat" and favourite_animal !="dog":
        favourite_animal = input("are you dog or cat person??")
  print(favourite_animal)

dog

In [111]:
x = 2
match x:
    case 1:
        print("x=2")
    case 2:
            print("x=2")
    case _:
             print("I dont wanna talk")

x=2

In [153]:
from enum import Enum
class Color(Enum):
   RED = 1
   BLUE = 2
   GREEN = 3
   ORANGE = 4
   VIOLET = 5
   YELLOW = 6
   MAROON = 7

my_Color = Color.RED

match my_Color:
    case Color.RED:
        print("Color is red")
    case Color.BLUE:
           print("Color is green")  
    case Color.BLUE:
           print("Color is green")
    case _:
           print("not my color")

Color is red

In [154]:
range(5)

range(0, 5)

In [155]:
for i in range(5):
    print(i)

0
1
2
3
4

In [156]:
my_list = [0,1,2,3,4]
for i in my_list:
    print(i)

0
1
2
3
4

In [157]:
my_list =["Naveen" ,"Bruno","Laura","Jayden"]
new_list=[]
for i in my_list:
    new_name = i.upper()
    new_list.append(new_name)
    print(new_name)
print(new_list)

NAVEEN
BRUNO
LAURA
JAYDEN
['NAVEEN', 'BRUNO', 'LAURA', 'JAYDEN']

In [158]:
my_list =["Naveen" ,"Bruno","Laura","Jayden"]
new_list = [i.upper() for i in my_list]
print(new_list)

['NAVEEN', 'BRUNO', 'LAURA', 'JAYDEN']

In [159]:
my_numbers = [3.1,5.6,6.7,8.5]
new_numbers = [2*i for i in my_numbers]
print(new_numbers)

[6.2, 11.2, 13.4, 17.0]

In [163]:
my_list =["Naveen" ,"Bruno","Laura","Jayden"]
for index, item in enumerate(my_list):
     print(f"{index}. {item}")

0. Naveen
1. Bruno
2. Laura
3. Jayden

In [164]:
my_info = {"Name" : "Naveen", "age":33, "place":"auckland"}
for key, value in my_info.items():
    print(f"{key}. {value}")

Name. Naveen
age. 34
place. auckland

In [165]:
my_queue =[]
my_queue.append("item1")
my_queue.append("item2")
my_queue.append("item3")
my_queue.append("item4")
print (my_queue)
print(my_queue.pop(0))
print(my_queue.pop(0))
print(my_queue.pop(0))
print(my_queue)

['item1', 'item2', 'item3', 'item4']
item1
item2
item3
['item4']

In [168]:
def times_two(x):
    return 2*x
print(times_two(5))
print(times_two(76))
print(times_two(1234))

10
152
2468

In [171]:
def side_effect(x,y):
    print(f"value of x ={x}n& value of y ={y}")

side_effect(9,3)

value of x =9n& value of y =3

In [172]:
def print_nicely(my_string):
    print(f"nicely printing {my_string}")
def complex_processing(x):
    output_value=x * x + x
    print_nicely(output_value)
    return output_value
complex_processing(56)
complex_processing(34)
complex_processing(7)

nicely printing 3192
nicely printing 1190
nicely printing 56

56

In [173]:
y=5

def times_two(x):
    print(y)
    return 2*x

times_two(6)

5

12

In [174]:
y = 5

def times_two(x):
    y=x
    print(f"y ={y}")
    return 2*x

times_two(6)
print(f"y ={y}")

y =6
y =5

In [176]:
x = y

ZeroDivisionError: division by zero

In [ ]:
assert 1 == 0, "I expect 1 and 0 to be different"

In [ ]:
assert 4 > 3

In [ ]:
def double_value(x):
    return 2 * x
assert double_value(1) == 2
assert double_value(2) == 2
assert double_value(2) == 2

In [ ]:
try:
    print(x)
except:
    print("error")

print("program is still operating normal")

In [ ]:
try:
    print(x)
except Exception as e:
    #print("error")
    print(e)
print("program is still operating normal")

In [ ]:
try:
    print(1 / 0, x)
    #print(x)
except ZeroDivisionError as zde:
    #print("i caught zero division error") 
    print(zde)
except Exception as e:
    #print("error")
    print(e)
print("program is still operating normal")

In [177]:
def divide_numbers(x, y):
    try:
        results = x / y
    except ZeroDivisionError as zde:
        print("you cannot divide by zero")
    except Exception as e:
        print(e)
    else:
        print(f"we divided {x} by {y} = {results}")
        return results
    
print(divide_numbers(2, 3))
divide_numbers(1, 0)
divide_numbers("one", "two")

we divided 2 by 3 = 0.6666666666666666
0.6666666666666666
you cannot divide by zero
unsupported operand type(s) for /: 'str' and 'str'