In [3]:
j= "hello world"
j

'hello world'

In [4]:
j = input ("what is your name")
j

'Naveen'

In [5]:
j = 3
print(j)

3

In [6]:
my_boolean = True
my_boolean

True

In [7]:
type (10)

int

In [8]:
type ("names")

str

In [9]:
type (10.4)

float

In [10]:
j = "NaveenNavenNaveen"
j. upper()

'NAVEENNAVENNAVEEN'

In [ ]:
j = "NaveenNavenNaveen"
j. upper()

In [14]:
j = "NaveenNavenNaveen"
j. lower()

'naveennavennaveen'

In [12]:
j = "NaveenNavenNaveen"
j = j.upper()
j

'NAVEENNAVENNAVEEN'

In [13]:
j = "NaveenNavenNaveen"
j = j.lower()
j

'naveennavennaveen'

In [15]:
j = ["japan",1,"true",1.4,["a nested list",5]]
j

['japan', 1, 'true', 1.4, ['a nested list', 5]]

In [18]:
j = ["jayden",1,"true",1.4,["a nested list",5]]
j [2]

'true'

In [19]:
j = ["jayden",1,"true",1.4,["a nested list",5]]
j [-1] [0]

'a nested list'

In [22]:
new_list = [ True]
print(new_list)
new_list. append ("this is string")
print(new_list)
new_list . insert(0,19)
print(new_list)
new_list. pop()
print(new_list)
new_list. pop(0)
print (new_list)

[True]
[True, 'this is string']
[19, True, 'this is string']
[19, True]
[True]

In [26]:
numbered_list = [8, 4, 5, 3, 0]
numbered_list.sort()
numbered_list

[0, 3, 4, 5, 8]

In [27]:
numbered_list = [8, 4, 5, 3, 0]
numbered_list.sort (reverse=True)
numbered_list

[8, 5, 4, 3, 0]

In [28]:
numbered_list = [8, 4, 5, 3, 0]
print (sorted(numbered_list))
print(numbered_list)

[0, 3, 4, 5, 8]
[8, 4, 5, 3, 0]

In [29]:
list_of_strings = ["Naveen","Joswa","Bruno","Laura","jayden"]
print(sorted(list_of_strings))

['Bruno', 'Joswa', 'Laura', 'Naveen', 'jayden']

In [32]:
HOURLEY_SALARY = 50
from typing import Final
NEW_HOURLEY_SALARY:Final[int] = 0
NEW_HOURLEY_SALARY
print(NEW_HOURLEY_SALARY)
if(NEW_HOURLEY_SALARY !=60):
    print("You Changed constant, dont do that")

0
You Changed constant, dont do that

In [56]:

i=0
n=0
while n<=2:
    print ('  |  |  ')
    n=n+1
    if n<=2:
        print('--------')

  |  |
--------
  |  |
--------
  |  |